langchain
langchain-openai
langchain-community
ipykernel
python-dotenv
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
chromadb
langchain-huggingface
sentence-transformers
numpy
faiss-cpu
langchain_chroma